@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,200;0,400;0,500;0,700;1,200;1,400;1,500;1,700&display=swap');

/*reglas generales*/
/*como añadir las fuentes importadas
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;*/

.hero{
    box-sizing: border-box;
    border: 4pt solid;
    color: aqua;
}

.navflex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    border: 4pt solid;
    color: aqua;
}

.fuente1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

body{
    margin: 20px;
    box-sizing: border-box;
    max-width: 1300px;
    align-items: center;
}

.producto1{
    display: flex;
    box-sizing: content-box;
    width: 1200px;
    border: 4pt solid aqua;
    flex-wrap: nowrap;
    margin-left: 2%;
    margin-right: 2%;
}

.fotoprod1{
    flex: 1 0 auto;
}

.parproducto1{
    box-sizing: border-box;
    background-color: rgb(76, 121, 163);
    text-align: center;
    padding: 16px;
    color: white;
    flex: 1 0 100%;
}

#cards{
    display: grid;
}

/*Media Query*/

/** Reescribir colores */

/** Productos */
