@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,200;0,400;0,500;0,700;1,200;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*reglas generales*/
/*como añadir las fuentes importadas
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;*/

html {box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}

body{
    max-width: 1450px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    line-height: 2
}

h1{
    font-size: 4rem;
}
.herocontainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.hero-image{
    flex: 1 0 100%;
    height: 45vw;
    background-image: url("principal.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .hero-text {
    flex: 1 0 100%;
    margin-top: 5vw;
    text-align: center;
    color: white;
    
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }

    .navflex{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:space-evenly;
}

.fuente1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.contenedor1{
    display: flex;
    flex-wrap: wrap;
    max-width: 92%;
    margin: 0% 4% 0% 4%;
}

.foto1{
    display: flex;
    max-width: 60%;
}
.foto1 img{
    border-radius: 6px 0px 0px 6px;
}

.texto1{
    flex: 1 0 40%;
    background-color: rgb(76, 121, 163);
    border-radius: 0px 5px 5px 0px;
    text-align: center;
    padding: 10px;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    
}
.textocatego{
    text-align: center;
    padding: 10px;
    color: rgb(76, 121, 163);
}

.grid1{
    display: grid;
    width: 92%;
    margin: 0% 4% 0% 4%;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    gap: 10px;
}
.grid2{
    display: grid;
    width: 92%;
    margin: 0% 4% 0% 4%;
    grid-template-columns: repeat(auto-fit, minmax(210px,1fr));
    gap: 10px;
    
}

.contenedornav{
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

#navfinal{
    display: flex;
    max-width: 96%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#ulfinal{
    list-style-type: none;
    text-align: center;
}

.botones a:link{
    text-decoration: none;
    color: gray;
}
.botones a:visited{
    color: gray;
}
/* Se realizó una transición al hover 
para que este sea mas suave y se 
tenga una experiencia mas confortable 
y agradable */
.botones a:hover{
    color: gainsboro;
    transition: 0.3s;
}
.botones h3{
    color: rgb(76, 121, 163);
}
.lsfooter{
    flex: 1 0 14rem;
    text-align: center;
    justify-content: center;
}


@media (max-width:850px){

.contenedor1{
    flex-direction: column;
}
.foto1{
    max-width: 100%;
}
.foto1 img{
    border-radius: 5px 5px 0px 0px;
}
.texto1{
    border-radius: 0px 0px 5px 5px;
}
}

