@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,200;0,400;0,500;0,700;1,200;1,400;1,500;1,700&display=swap');

/*reglas generales*/
/*como añadir las fuentes importadas
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;*/

.hero{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 4pt solid;
    color: aqua;
}

.navflex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    border: 4pt solid;
    color: aqua;
}

.fuente1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

body{
    margin: 20px;
    box-sizing: border-box;
    max-width: 1300px;
    align-items: center;
}

.producto1{
    display: flex;
    box-sizing: border-box;
    max-width: 1248px;
    max-height: 300px;
    flex-wrap: nowrap;
    border: 4pt solid aqua;
    margin-left: 2%;
    margin-right: 2%;
}

.fotoprod1{
    display: flex;
    box-sizing: border-box;
    max-width: 760px;
    border: 4pt solid red;
}

.parproducto1{
    display: flex;
    box-sizing: border-box;
    max-width: 478px;
    height: 1 0 100%;
    background-color: rgb(76, 121, 163);
    border: 4pt solid aqua;
    padding: 16px;
}
.boxprod1{
    flex: 1 0 100%;
    color: white;
    text-align: center;
}
@media (max-width:994px) {
    .producto1 {
        flex-direction: column;
        flex-wrap: wrap;
         }
    .fotoprod1{
        width: 100%;
    }
    .boxprod1{
        flex-wrap: wrap;
    }
}


/*Media Query*/

/** Reescribir colores */

/** Productos */
